<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>" class="metaDes">
<meta name="keywords" content="<%= meta.keyword %>" class="metaKey">
<meta name="author" content="">

<!-- fb ogp -->     
<meta property="og:title" content="<%= meta.fb.tit %>" class="fbTit" /> 
<meta property="og:type" content="<%= meta.fb.type %>" class="fbType" />
<meta property="og:url" content="<%= meta.fb.url %>" class="fbUrl" /> 
<meta property="og:image" content="<%= meta.fb.img %>" class="fbImg" />
<meta property="og:site_name" content="<%= meta.fb.siteName %>" class="fbSiteName" />
<meta property="og:description" content="<%= meta.fb.des %>" class="fbDes" />

<!-- twitter ogp -->
<meta name="twitter:card" content="<%= meta.tw.card %>" class="twCard">
<meta name="twitter:site" content="<%= meta.tw.siteName %>" class="twSiteName">
<meta name="twitter:creator" content="<%= meta.tw.creator %>" class="twCreator">
<meta name="twitter:url" content="<%= meta.tw.url %>" class="twUrl">
<meta name="twitter:title" content="<%= meta.tw.tit %>" class="twTit">
<meta name="twitter:description" content="<%= meta.tw.des %>" class="twDes">
<meta name="twitter:image" content="<%= meta.tw.img %>" class="twImg">